@{
  Layout = "_Layout";
}

@model SweetTreat.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Taste)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Taste)
  @Html.EditorFor(model => model.Taste)


  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>