@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models

@* <div id="register-modal" class="modal obscured">
  <div class="modal-message">
    <span>Register a new account</span>
  </div>
  <div class="button-area">
    @using (Html.BeginForm("Delete", "Authors", new { id = @Model.AuthorId }))
    {
      <button class="red" type="submit">Delete</button>
    }
  </div>
  <div class="button-area">
    <button onclick="hideModal('delete')">Cancel</button>
  </div>
</div> *@

<div class="view-body home">

<div class="home-list-area">
  <div class="home-list">

    @using (Html.BeginForm("Find", "Authors", "post"))
{
  @Html.Label("Search Authors by First or Last Name:")
  <p>@Html.TextBox("queryString")</p>
  <p><input type="submit" value="Submit" class="btn btn-default" /></p>
}
    <h2>All Authors:</h2>
    <ul class="simple-list">
      @foreach (var author in ViewBag.Authors) {
        <li>
          <div class="bold">@author.FirstName @author.LastName</div>&nbsp;<div class="italic">@(
            
            $"{(author.AuthorBooks.Count == 0 ? "no books" : author.AuthorBooks.Count > 1 ? $"{author.AuthorBooks.Count} books" : $"{author.AuthorBooks.Count} book")}"
            
          )</div>
        </li>
      }
    </ul>
  </div>
  <div class="home-list">

  @using (Html.BeginForm("Find", "Books", "post"))
{
  @Html.Label("Search Books:")
  <p>@Html.TextBox("queryString")</p>
  <p><input type="submit" value="Submit" class="btn btn-default" /></p>
}

    <h2>All Books:</h2>
    <ul class="simple-list">
      @foreach (var book in ViewBag.Books) {
        <li>
          <div class="bold">@book.Title&nbsp;</div>
          <div class="italic">
            @if (book.AuthorBooks.Count == 0) {
              <span class="italic">(no authors added!)</span>
            } else {
              @for (var i = 0; i < book.AuthorBooks.Count; i++) {
                @if (i == 0) { @(" by ") }
                @($"{book.AuthorBooks[i].Author.FirstName} {book.AuthorBooks[i].Author.LastName}")
                @if (book.AuthorBooks.Count > 1) { 
                  if (i < book.AuthorBooks.Count - 1) { 
                    if (i == book.AuthorBooks.Count - 2) { 
                      @(" and ")
                    } else { 
                      @(", ")
                    }
                  }
                }
              } 
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>

</div>

<hr />
<div class="home-footer">
  <div class="button-area">
    <a href='@Url.Action("Index", "Books")'>
      <button>Manage Books</button>
    <a href='@Url.Action("Index", "Authors")'>
      <button>Manage Authors</button>
    </a>
  </div>

  <div class="button-area">
    <a href='@Url.Action("Index", "Account")'>
      <button class="login">Create or manage an account</button>
    </a>
  </div>
</div>

