@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models
@model LibraryCatalog.Models.Book
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<h3>Checkout Book</h3>

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>


<ul class="capsule-list">
    Author(s): 
    @foreach (AuthorBook authorBook in Model.AuthorBooks) {
      <li>@authorBook.Author.FirstName @authorBook.Author.LastName</li>
    }
@using (Html.BeginForm("Checkout", "Account", new { userId = SignInManager.UserManager.GetUserId(User), bookId = Model.BookId}, FormMethod.Post))
{
  
  <div class="form-row">
    <p>Checkout date: </p><br>
    <input type="date">
  </div>
  
  <button class="green" type="submit">Check Out</button>
}



<div class="button-footer">
  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all books</button>
  </a>
</div>