@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models
@model LibraryCatalog.Models.Book
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<h3>Return Book</h3>

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>


<ul class="capsule-list">
    Author(s): 
    @foreach (AuthorBook authorBook in Model.AuthorBooks) {
      <li>@authorBook.Author.FirstName @authorBook.Author.LastName</li>
    }
@using (Html.BeginForm("Return", "Account", new { userId = SignInManager.UserManager.GetUserId(User), bookId = Model.BookId}, FormMethod.Post))
{

        <input type="date" name="ReturnDate">
  <button class="green" type="submit">Return</button>
}



<div class="button-footer">
  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all books</button>
  </a>
</div>