@{
  Layout = "_Layout";
}

@using SweetTreat.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

<div class="view-body login">

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm())
{
  <div class="form-row">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
  </div>
  <div class="form-row password">
    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)
  </div>
  <button class="login" type="submit">Log in</button>
}

</div>

<div class="button-footer">
  <hr />
  <a href='@Url.Action("Index")'>
    <button>Back to Accounts page</button>
  </a>
</div>