@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models
@model LibraryCatalog.Models.Author

<h2>Add a new Book for Author <span class="highlighted">@Model.FirstName @Model.LastName</span></h2>

<div>@foreach(AuthorBook book in Model.AuthorBooks) {
  <div>Already attributed: @book.Book.Title (in model as Model.AuthorBooks[i].Book.Title)</div>
  <p></p>
}</div>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  var counter=0;
  foreach(var a in ViewBag.BookId)
  {
    counter++;
    break;
  }
  
  @if(counter > 0){ // if at least one dropdown option exists
    <div class="form-row">
      @Html.Label("Select Book")
      @Html.DropDownList("BookId")
      <button class="green" type="submit">Save</button>
    </div>
  } else {
    <div class="dropdown-empty-message">You must add a Book to the database first!</div>
  }
}

<div class="button-footer">
  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all books</button>
  </a>
</div>