@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Author

<h3>Add a new Author</h3>

@using (Html.BeginForm())
{
  <div class="form-row">
    @Html.LabelFor(model => model.FirstName, "First name") @Html.TextBoxFor(model => model.FirstName)
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.LastName, "Last name") @Html.TextBoxFor(model => model.LastName)
  </div>

  <button class="green" type="submit">Add new Author</button>
}

<div class="button-footer">
  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all Authors</button>
  </a>
</div>