@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models
@model LibraryCatalog.Models.Author

<div id="delete-modal" class="modal obscured">
  <div class="modal-message">
    <span>Are you sure you want to delete</span>
    <span class="highlighted">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)?</span>
  </div>
  <div class="button-area">
    @using (Html.BeginForm("Delete", "Authors", new { id = @Model.AuthorId }))
    {
      <button class="red" type="submit">Delete</button>
    }
  </div>
  <div class="button-area">
    <button onclick="hideModal('delete')">Cancel</button>
  </div>
</div>

<h2>Author Details for <span class="highlighted">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</span></h2>
<hr />

<h3>Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)<h3>

<h3>Books:</h3>
<ul class="author-book-list">
  @if(@Model.AuthorBooks.Count == 0)
  {
    <p class="empty-message">This Author does not have any Books listed yet!</p>
  } else {
    @foreach (AuthorBook authorBook in Model.AuthorBooks) {
        <a href='@Url.Action("Details", "Books", new { id = authorBook.Book.BookId})'>
        <li class="author-book-list-item">
          @authorBook.Book.Title
        </li>
        </a>
    }
  }
  <a href='@Url.Action("AddBook", new { id = Model.AuthorId })'>
    <button class="green">Add a Book for Author</button>
  </a>
</ul>

<div class="button-footer">

  <button onclick="showModal('delete')" class="red">Delete Author</button>

    <a href='@Url.Action("Edit")'>
    <button>Edit Author</button>
  </a>


  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all Authors</button>
  </a>
</div>