@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Author

<h2>Edit</h2>

<h4>Edit this author: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.LabelFor(model => model.FirstName)
  @Html.EditorFor(model => model.FirstName)

  @Html.LabelFor(model => model.LastName)
  @Html.EditorFor(model => model.LastName)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>