@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models
@model LibraryCatalog.Models.Book

<div id="delete-modal" class="modal obscured">
  <div class="modal-message">
    <span>Are you sure you want to delete</span>
    <span class="highlighted">@Html.DisplayFor(model => model.Title)</span>
  </div>
  <div class="button-area">
    @using (Html.BeginForm("Delete", "Books", new { id = @Model.BookId }))
    {
      <button class="red" type="submit">Delete</button>
    }
  </div>
  <div class="button-area">
    <button onclick="hideModal('delete')">Cancel</button>
  </div>
</div>

<h2>Book Details for <span class="highlighted">@Html.DisplayFor(model => model.Title)</span></h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)<h3>

<ul class="capsule-list">
    Author(s): 
    @foreach (AuthorBook authorBook in Model.AuthorBooks) {
      <li><a href='@Url.Action("Details", "Authors", new { id = authorBook.Author.AuthorId})'>@authorBook.Author.FirstName @authorBook.Author.LastName</a></li>
    }
</ul>
<div class="button-footer">
  
  <button onclick="showModal('delete')" class="red">Delete Book</button>

  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all Books</button>
  </a>
</div>