@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models
@model LibraryCatalog.Models.Book
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div id="delete-modal" class="modal obscured">
  <div class="modal-message">
    <span>Are you sure you want to delete</span>
    <span class="highlighted">@Html.DisplayFor(model => model.Title)?</span>
  </div>
  <div class="button-area">
    @using (Html.BeginForm("Delete", "Books", new { id = @Model.BookId }))
    {
      <button class="red" type="submit">Delete</button>
    }
  </div>
  <div class="button-area">
    <button onclick="hideModal('delete')">Cancel</button>
  </div>
</div>

<h2>Book Details for <span class="highlighted">@Html.DisplayFor(model => model.Title)</span></h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)<h3>

<ul class="capsule-list">
    Author(s): 
    @foreach (AuthorBook authorBook in Model.AuthorBooks) {
      <li><a href='@Url.Action("Details", "Authors", new { id = authorBook.Author.AuthorId})'>@authorBook.Author.FirstName @authorBook.Author.LastName</a></li>
    }
</ul>

<p>Number of copies: @Html.DisplayFor(model => model.Copies) </p>
<div class="button-footer">
  
   <a href='@Url.Action("checkout", "Account", new {id = SignInManager.UserManager.GetUserId(User), bookId = Model.BookId})'>Checkout Book</a>

  @* @if (Model.ApplicationUser.Books.Contains(Model)) 
  {
    <a href='@Url.Action("Return", "Account", new {id = SignInManager.UserManager.GetUserId(User), bookId = Model.BookId})'>Return Book</a>
  }
  else 
  {
  <a href='@Url.Action("Checkout", "Account", new {id = SignInManager.UserManager.GetUserId(User), bookId = Model.BookId})'>Checkout Book</a>
  } *@
  <button onclick="showModal('delete')" class="red">Delete Book</button>

  <a href='@Url.Action("Edit", new { id = Model.BookId })'>
    <button>Edit Book</button>
  </a>
@* <p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p> *@


  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all Books</button>
  </a>
</div>